.form-floating {
  label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.2rem;
  }

  .invalid-feedback {
    margin-top: 0.75rem !important;

    &:empty {
      display: none !important;
    }

    & ~ .form-text {
      display: none;
    }
  }

  .form-text {
    margin-top: 0.75rem !important;
  }
}

.form-control.is-invalid {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
